body {
    box-sizing: border-box;
    background-color: #fff;   
}

#mainArea {
    background-color: #efefef;
    box-shadow: 0px 1px 3px 1px;
    padding: 5px;
    width: 97%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
    flex-direction: column;
}

header {
    font-family: 'Kaushan Script', cursive;
    background-color: #f5c88e;
    border: 1px solid #000;
    border-radius: 2px;
    box-shadow: 0px 3px 5px 1px;
    position: absolute;
    font-size: 20px;
    width: 90%;
    text-align: center;
}

#imieniny {
    position: absolute;
    background-color: #c95050;
    color: #f5c88e;
    height: 40px;
    width: 90%;
    margin-top: 40px;
    border: 1px solid #000;
    border-radius: 2px;
    text-align: center;
}

#pogoda {
    margin-top: 90px;
    height: 200px;
    width: 100%;
    background-color: #aededd;
    border: 1px solid #000;
    border-radius: 2px;
    box-shadow: 0px 3px 5px 1px;
}

#waluty {
    position: relative;
    margin-top: 20px;
    height: 320px;
    width: 100%;
    background-color: darkslategray;
    border: 1px solid #000;
    border-radius: 2px;
    box-shadow: 0px 3px 5px 1px;
    color: #000;   
    display: flex;
    flex-direction: column;
    
}
#waluty #walutyKrajow ul {
    width: 35px;
    text-align: center;

}

#walutyKrajow{
    display: flex;
    flex-direction: row; 
}

#waluty #walutyKrajow ul li {
    list-style-type: none; 
    width: 70px;
    border: 1px solid #fff;
}

#waluty #walutyKrajow ul li:nth-child(2n+1) {
    background: #356443;
}
#waluty #walutyKrajow ul li:nth-child(1) {
    background: #9fe8b5;
    
}

#waluty #zloto {
    border: 1px solid #fff;
    background: #b7b71b;
     margin-left: 10px;
     margin-right: 10px;
    display: flex;
    justify-content: space-around;
    
}

#waluty #zloto #AUprice {
    padding: 10px;
    background-color: #ffbb04;
    border: 1px solid #000;
    box-shadow: 0px 1px 5px 1px;
   
}

#jakoscPowietrza {
    margin-top: 20px;
    height: 100%;
    width: 100%;
    background-color: darkorange;
    border: 1px solid #000;
    border-radius: 2px;
    box-shadow: 0px 3px 5px 1px;
    position: relative;
    order: 2;
    
}

#jakoscPowietrza ul{
    text-align: center;
    padding: 10px;
}

#jakoscPowietrza ul li {
    list-style-type: none;
    text-align: center;
    width: 150px;
    height: 50px;
    display: inline-block;
    margin-top: 5px;
    border: 1px solid #000;
    border-radius: 2px;  
    line-height: 25px;
}

#waluty footer, #jakoscPowietrza footer  {
    background-color: cadetblue;
    position: absolute;
    width: 100%;
    bottom: 0;
}

#jakoscPowietrza footer {
    padding: 0px;
    background-color: #e5aa26;  
}

.pollutionColor {
    display: inline-block;
    margin-top: 5px;
    width: 15px;
    height: 15px;   
}

#jakoscPowietrza footer .pol0 {
    background-color: #690000;
}
#jakoscPowietrza footer .pol1 {
    background-color: #6a4ad4;
}
#jakoscPowietrza footer .pol2 {
    background-color: #ff0b0b;
}
#jakoscPowietrza footer .pol3 {
    background-color: #ff5618;
}
#jakoscPowietrza footer .pol4 {
    background-color: #ffca18;
}
#jakoscPowietrza footer .pol5 {
    background-color: #13b739;
}
#jakoscPowietrza footer .pol6 {
    background-color: #116a25;
}

#wiadomosci {
    background-color: #e6d8c5;
    margin-top: 20px;
    height: 100%;
    width: 100%;
    order: 5;
    border: 1px solid #000;
    border-radius: 2px;
    box-shadow: 0px 3px 5px 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    
}

.info {
    width: 300px;
    height: 100px;
    background-color: #f7e7d2;
    border: 1px solid #000;
    display: flex;
    justify-content: space-around;
    padding: 6px;
    position: relative;
/*    flex-wrap: wrap;*/
    
}

.infoImg {
/*    border: 1px solid #000;*/
    width: 25%;
    height: 70%;
    object-fit: cover;
    
}

.infoText {
    width: 70%;
    height: 95%;
    overflow: hidden;
}
.info {
    margin-top: 3px;
    margin-bottom: 3px;
}

.newsButton {
    background-color: #d3bb8d;
    height: 25px;
    width: 75px;
    position: absolute;
    left: 10px;
    bottom: 5px;
}




@media (min-width:768px) and (max-width:920px) {
    
    #pogoda {
    height: 200px;
    width: 300px;
    }
    
    #imieniny {
    height: 35px;
    width: 30%;
    margin-top: 50px;
    }
    
    #jakoscPowietrza {
    height: 100px;
    width: 200px;
    height: 100%;
    }
    
    #waluty { 
    height: 400px;
    width: 400px; 
    } 
        
}

@media (min-width:921px)  {
    #mainArea {
    height: 800px;
    width: 1200px;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    }
    
    #imieniny {
    height: 25px;
    width: 30%;
    margin-top: 50px;
    }
        
    #pogoda {
    height: 200px;
    width: 300px;
    margin-top: 70px;
    }
    
    #jakoscPowietrza {
    height: 280px;
    width: 500px;
    margin-top: 90px;  
    }
    
    #waluty { 
    height: 400px;
    width: 300px; 
    margin-top: 50px;
    order: 2;
    } 
    
    #wiadomosci{
    height: 300px;
    }
    
    
    
}