body {
    box-sizing: border-box;
    background-color: #fff;
}

a {
   color: #000; 
}

#mainArea {
    background-color: #efefef;
    box-shadow: 0px 1px 3px 1px;
    padding: 5px;
    width: 97%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
    flex-direction: column;
}

header {
    font-family: 'Kaushan Script', cursive;
    background-color: #f5c88e;
    background-image: url(../img/dark_exa.png);
    object-fit: fill;
    border: 1px solid #6a6a6a;
    border-radius: 2px;
    box-shadow: 0px 3px 5px 1px #000;
    position: absolute;
    /*    left: 5%;*/
    color: #fff;
    font-size: 20px;
    width: 97%;
    text-align: center;
}

#imieniny {
    position: absolute;
    /*    left: 5%;*/
    background-color: #260101;
    color: #f5c88e;
    height: 40px;
    width: 97%;
    margin-top: 40px;
    border: 1px solid #000;
    border-radius: 2px;
    text-align: center;
}

#pogoda {
    margin-top: 90px;
    height: 275px;
    width: 100%;
    background-color: #d6ccb6;
    font-weight: 50;
    border: 1px solid #000;
    border-radius: 2px;
    box-shadow: 0px 3px 5px 1px #000;
}

#pogoda #formularzPogodyMiasta {
    margin-top: 10px;
    text-align: center;
}

#pogoda #szukajmiasto {}

#pogoda #szukajmiastoPrzycisk {
    background-color: #ceb18f;
    box-shadow: 0px 3px 5px 1px #000;
    cursor: pointer;
}

#pogoda #szukajmiastoPrzycisk:hover {
    background-color: #fce2b9;
}

#pogoda #nazwaLokacji {
    text-align: center;
    margin-top: 10px;
    background-color: #fce2b9;
}

#pogoda #pogodaRamkaOgolna {
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#pogoda #pogodaRamkaOgolna ul {
    width: 105px;
    margin-left: -35px;
}

#pogoda #pogodaRamkaOgolna ul li {
    list-style-type: none;
    width: 105px;
    height: 20px;
    text-align: center;
    box-shadow: 3px 2px 1px 0px #000;
}

#pogoda #pogodaRamkaOgolna ul li:nth-child(2n+2) {
    background: #9f813e;

}

#pogoda #pogodaRamkaOgolna ul li:nth-child(2n+1) {
    background: #ceb18f;

}

#pogoda #pogodaRamkaOgolna ul li:first-child {
    background: #b7ab91;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

#pogoda #pogodaRamkaOgolna ul li:nth-child(2n+6) {
    height: 40px;
}

#pogoda #pogodaRamkaOgolna ul li:nth-child(2n+7) {
    background-color: #d6ccb6;
    height: 40px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

#pogoda #pogodaRamkaOgolna #emptyRow {
    background-color: #d6ccb6;
    box-shadow: none;
}

#opis,
#opisPozniej {
    font-size: 0.8em;
}

#cloudIcon {
    color: #fff;
}


#waluty {
    position: relative;
    margin-top: 20px;
    height: 320px;
    width: 100%;
    background-image: url(../img/currency_back0.png);
    object-fit: cover;
    border: 1px solid #000;
    border-radius: 2px;
    box-shadow: 0px 3px 5px 1px;
    color: #000;
    display: flex;
    flex-direction: column;

}

#waluty #walutyKrajow ul {
    width: 35px;
    text-align: center;
}

#walutyKrajow {
    display: flex;
    flex-direction: row;
}

#waluty #walutyKrajow ul li {
    list-style-type: none;
    width: 70px;
    border: 1px solid #fff;
}

#waluty #walutyKrajow ul li:nth-child(2n+1) {
    background: #8ab296;
    background: #acacac;
}

#waluty #walutyKrajow ul li:nth-child(2n+2) {
    background: #356443;
    background: #919191;
}

#waluty #walutyKrajow ul li:nth-child(1) {
    background: #9fe8b5;
    background: #000000;
    color: #fff;
}

#waluty #zloto {
    border: 1px solid #fff;
    background: #fff;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: space-around;

}

#waluty #zloto #AUprice {
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
    box-shadow: 0px 1px 5px 1px #000;

}

#jakoscPowietrza {
    margin-top: 20px;
    height: 100%;
    width: 100%;
    background-image: url(../img/moulin.png);
    object-fit: cover;
    border: 1px solid #000;
    border-radius: 2px;
    box-shadow: 0px 3px 5px 1px;
    position: relative;
}

#jakoscPowietrza ul {

    text-align: center;
    padding: 10px;
}

#jakoscPowietrza ul li {
    list-style-type: none;
    text-align: center;
    width: 150px;
    height: 50px;
    display: inline-block;
    margin-top: 5px;
    border: 1px solid #fff;
    border-radius: 3px;
    line-height: 25px;
}

#waluty footer,
#jakoscPowietrza footer,
#wiadomosci footer {
    background-color: #919191;
    border-top: 1px solid #fff;
    position: absolute;
    width: 100%;
    bottom: 0;
}

#jakoscPowietrza footer {

    padding: 0px;
    color: #000;
    height: 20px;
    border-top: 1px solid #000;
    background-color: #fff;
}

.pollutionColor {
    display: inline-block;
    margin-top: 3px;
    width: 12px;
    height: 12px;
}

#jakoscPowietrza footer .pol0 {
    background-color: #690000;
}

#jakoscPowietrza footer .pol1 {
    background-color: #6a4ad4;
}

#jakoscPowietrza footer .pol2 {
    background-color: #ff0b0b;
}

#jakoscPowietrza footer .pol3 {
    background-color: #ff5618;
}

#jakoscPowietrza footer .pol4 {
    background-color: #ffca18;
}

#jakoscPowietrza footer .pol5 {
    background-color: #13b739;
}

#jakoscPowietrza footer .pol6 {
    background-color: #116a25;
}

#wiadomosci {
    background-image: url(../img/news_back0.png);
    object-fit: cover;
    margin-top: 20px;
    height: 100%;
    width: 100%;
    order: 5;
    border: 1px solid #000;
    border-radius: 2px;
    box-shadow: 0px 3px 5px 1px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.info {
    width: 70%;
    height: 100px;
    background-color: #fff;
    border: 1px solid #000;
    display: flex;
    justify-content: space-around;
    padding: 6px;
    position: relative;
    /*    flex-wrap: wrap;*/
}

.infoImg {
    /*    border: 1px solid #000;*/
    width: 75px;
    height: 70px;
    object-fit: cover;
    margin-left: 1px;
    border: 1px solid #000;
}

.infoText {
    width: 70%;
    height: 95%;
    overflow: hidden;
}

.info {
    margin-top: 3px;
    margin-bottom: 3px;
}

.newsButton {
    background-color: #000;
    color: #fff;
    height: 25px;
    width: 75px;
    position: absolute;
    left: 4%;
    bottom: 5px;
}


#newsMenu {
    width: 100%;
    height: 30px;
    margin-top: 15px;
    position: relative;
    bottom: 10px;
    display: flex;
    justify-content: space-around;
}


.newsPage {
    background-color: #fff;
    text-align: center;
    font-size: 1.25EM;
    bottom: 5px;
    width: 25%;
    height: 100%;
    border: 1px solid #717171;
    border-radius: 2px;
}

.newsPage:hover {
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

#gry {
    background-color: #074462;
    margin-top: 20px;
    width: 100%;
    height: 50px;
    border: 1px solid #000;
    border-radius: 2px;
    color: #000;
    box-shadow: 0px 3px 5px 1px;
    font-size: 2.5em;
    text-align: center;
    order: 5;
}

#gry:hover {
    background-color: #3399CC;
    box-shadow: none;
    color: #000;
    cursor: pointer;
}

.tooltext {
    visibility: hidden;
    position: absolute;
}

a.tooltipPollution:hover .tooltext{
    visibility: visible;
    text-align: center;
    padding: 14px 20px;
    width: 120px;
/*    line-height: 16px;*/
    margin-left: -110px;
    margin-top: -150px;
    display: inline;
    position: absolute;
    font-size: 12px;
    border: 1px solid #fff;
    color: #fff;
    background: rgba(0, 0, 0, 0.95);
    border-radius: 5px;
    z-index: 1000000;
}



#jakoscPowietrza ul li:hover {
    border: 1px solid #262626;
    box-shadow: inset 0px 0px 5px 3px rgba(255, 255, 255, 0.75);
}





@media (min-width:768px) and (max-width:920px) {

    body {
        background-image: url(../img/chalkboard.jpg);
        object-fit: cover;
    }

    header {
        width: 105%;
        position: none;
    }

    #mainArea {
        height: 850px;
        width: 1200px;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;

    }

    #imieniny {
        height: 25px;
        width: 30%;
        margin-top: 50px;
    }

    #pogoda {
        height: 275px;
        width: 370px;
        margin-top: 70px;
    }

    #jakoscPowietrza {
        height: 300px;
        width: 500px;
        margin-top: 90px;
    }

    #waluty {
        height: 400px;
        width: 300px;
        margin-top: 50px;
        order: 2;
    }

    #wiadomosci {
        height: 300px;
    }

    .info {
        width: 300px;
        height: 100px;
    }

    #wiadomosci .newsPage {
        width: 20%;
        height: 100%;
    }



    #gry {
        width: 20%;
        height: 20px;
        margin-top: 0px;
        font-size: 1em;
        order: 5;
        /*    justify-self: right;*/
        margin-left: auto;
        margin-right: 75px;
    }

}

@media (min-width:921px) {
    body {
        background-image: url(../img/chalkboard.jpg);
        object-fit: cover;
    }

    header {
        width: 105%;
        position: none;
    }

    #mainArea {
        height: 850px;
        width: 1200px;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;

    }

    #imieniny {
        height: 25px;
        width: 30%;
        margin-top: 50px;
    }

    #pogoda {
        height: 275px;
        width: 370px;
        margin-top: 70px;
    }

    #jakoscPowietrza {
        height: 300px;
        width: 500px;
        margin-top: 90px;
    }

    #waluty {
        height: 400px;
        width: 300px;
        margin-top: 50px;
        order: 2;
    }

    #wiadomosci {
        height: 300px;
    }

    .info {
        width: 300px;
        height: 100px;
    }

    #wiadomosci .newsPage {
        width: 20%;
        height: 100%;
    }



    #gry {
        width: 20%;
        height: 20px;
        margin-top: 0px;
        font-size: 1em;
        order: 5;
        /*    justify-self: right;*/
        margin-left: auto;
        margin-right: 75px;
    }



}


